@model dynamic

@{
    ViewBag.Title = "Index";
}

<p>
    <a ></a>
    <a class="btn btn-primary btn-lg" asp-controller="Books" asp-action="Create">Create New </a>

</p>


<ul class="nav nav-pills">
    <li class="nav-item ">
        <a class="nav-link active rounded-0" data-toggle="pill" href="#home">All Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0" data-toggle="pill" href="#menu1">In Alfabet Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0" data-toggle="pill" href="#menu2">All Reserved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-0" data-toggle="pill" href="#menu2">All Avaliable</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane container active p-0" id="home">
        <h5 class="text-uppercase p-2 text-center">All Books</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
                <tr>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.AllBooks)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane container fade p-0" id="menu1">
        <h5 class="text-uppercase p-2 text-center">Books In Alfabet Order</h5>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
            </thead>
            <tbody>
                @foreach (var book in Model.BooksInAlfabetOrder)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>  