@model dynamic
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<p><b>Teacher List</b></p>

<table>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
    </tr>
    @foreach (Book book in Model.BooksInAlfabetOrder)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
        </tr>
    }
</table>

<p><b>Student List</b></p>

<table>
    <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Author</td>
    </tr>
    @foreach (Book book in Model.AllBooks)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
        </tr>
    }
</table>